.main * {
    margin: 0;
    padding: 0;
  }

.main{
    
    background-color: #D3D3D3;
    min-height: calc(100dvh);
    /* min-height: calc(100dvh - var(--header-height) - var(--footer-height)); */
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
}